/* css/src/main/sectionBox.css */




/* 내용이 적어 반응 파일 분리하지 않고, 한 파일에 작성함 */


#sectionBox {
  position: relative;
  width : 100%;
  height : 700px;
    height : 43.75rem;
}

.section_indicator {
  position : absolute;
  z-index: 100;
  bottom : 10px;  left : 0; right : 0; 
  width : 100px;  height : 40px;
  margin : auto;
}

.section_indicator ul {
  width : 100%; height: 100%;
  padding : 10px; margin : auto;
  box-sizing: border-box;
}

.section_indicator li {
  float : left;
  width : 20px; height : 100%;
  margin-right : 10px;
  border-radius: 100px;
  background-color: #f6f6f6;
  background-color : var(--color-bg-white);
  transition: all 300ms ease;
}



.section_indicator li:last-child { margin-right : 0; }

.section_indicator li.act {
  width : 50px;
  background-color: #ff3478;
  background-color : var(--color-pink);
}

.section_indicator li a {
  display: block;
  width : 100%; height : 100%;
}

.section_img_area {
  width : 100%; height : 100%;
}

.section_img_area li {
  position: absolute;
  top : 0; left: 0;
  width : 100%; height : 100%;
  padding : 50px 100px;
    padding : 3.125rem 6.25rem;
  box-sizing: border-box;
  }
  
.section_img_area li.act { z-index : 20; }
  
.section_01 { background-color: #010302; }
.section_02 { background-color: #dbe3e7; }
  
.section_img_area li a {
  display: block;
  width : 100%; height : 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size : contain;
  background-position: 50% 50%;
}

.section_img_area .section_01 a { background-image : url("../../../img/img/view/aquarium_1920.jpg"); }
.section_img_area .section_02 a { background-image : url("../../../img/img/view/wavepark_1920.png"); }








@media screen and (min-width:320px) and (max-width:767px) {
  #sectionBox {
    position: relative;
    width : 100%; 
    height : 400px;
      height : 25rem;
    box-sizing: border-box;
  }
  
  .section_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 70px;  height : 20px;
    margin : auto;
  }
  
  .section_indicator ul {
    width : 100%; height: 100%;
    padding : 5px; margin : auto;
    box-sizing: border-box;
  }
  
  .section_indicator li {
    float : left;
    width : 10px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .section_indicator li:last-child { margin-right : 0; }
  
  .section_indicator li.act {
    width : 30px;
  }
  
  .section_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
  
  .section_img_area {
    width : 100%; height : 100%;
  }
  
  .section_img_area li {
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    padding : 0;
    }
    
  .section_img_area li.act { z-index : 20; }
    
  .section_01 { background-color: #010302; }
  .section_02 { background-color: #dbe3e7; }
    
  .section_img_area li a {
    display: block;
    width : 100%; height : 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size : contain;
    background-position: 50% 50%;
  }

  .section_img_area .section_01 a { background-image : url("../../../img/img/view/aquarium_600.png"); }
  .section_img_area .section_02 a { background-image : url("../../../img/img/view/wavepark_600.png"); }

}







@media screen and (min-width:768px) and (max-width:1279px) {
  #sectionBox {
    position: relative;
    width : 100%;
    height : 540px;
      height : 33.75rem;
  }
  
  .section_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 80px;  height : 30px;
    margin : auto;
  }
  
  .section_indicator ul {
    width : 100%; height: 100%;
    padding : 7px; margin : auto;
    box-sizing: border-box;
  }
  
  .section_indicator li {
    float : left;
    width : 15px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .section_indicator li:last-child { margin-right : 0; }
  
  .section_indicator li.act {
    width : 40px;
  }
  
  .section_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
  
  .section_img_area {
    width : 100%; height : 100%;
  }
  
  .section_img_area li {
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    padding : 20px; padding : 1.25rem;
    box-sizing: border-box;
    }
    
  .section_img_area li.act { z-index : 20; }
    
  .section_01 { background-color: #010302; }
  .section_02 { background-color: #dbe3e7; }
    
  .section_img_area li a {
    display: block;
    width : 100%; height : 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size : contain;
    background-position: 50% 50%;
  }
}






@media screen and (min-width:1280px) and (max-width:1599px) {
  #sectionBox {
    position: relative;
    width : 100%;
    height : 700px;
      height : 43.75rem;
  }
  
  .section_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 100px;  height : 40px;
    margin : auto;
  }
  
  .section_indicator ul {
    width : 100%; height: 100%;
    padding : 10px; margin : auto;
    box-sizing: border-box;
  }
  
  .section_indicator li {
    float : left;
    width : 20px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .section_indicator li:last-child { margin-right : 0; }
  
  .section_indicator li.act {
    width : 50px;
  }
  
  .section_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
  
  .section_img_area {
    width : 100%; height : 100%;
  }
  
  .section_img_area li {
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    padding : 50px 100px;
      padding : 3.125rem 6.25rem;
    box-sizing: border-box;
    }
    
  .section_img_area li.act { z-index : 20; }
    
  .section_01 { background-color: #010302; }
  .section_02 { background-color: #dbe3e7; }
    
  .section_img_area li a {
    display: block;
    width : 100%; height : 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size : contain;
    background-position: 50% 50%;
  }
}








@media screen and (min-width:1600px) and (max-width:1919px) {
  #sectionBox {
    position: relative;
    width : 100%;
    height : 800px;
      height : 50rem;
  }
  
  .section_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 100px;  height : 40px;
    margin : auto;
  }
  
  .section_indicator ul {
    width : 100%; height: 100%;
    padding : 10px; margin : auto;
    box-sizing: border-box;
  }
  
  .section_indicator li {
    float : left;
    width : 20px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .section_indicator li:last-child { margin-right : 0; }
  
  .section_indicator li.act {
    width : 50px;
  }
  
  .section_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
  
  .section_img_area {
    width : 100%; height : 100%;
  }
  
  .section_img_area li {
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    padding : 50px 240px;
      padding : 3.125rem 15rem;
    box-sizing: border-box;
    }
    
  .section_img_area li.act { z-index : 20; }
    
  .section_01 { background-color: #010302; }
  .section_02 { background-color: #dbe3e7; }
    
  .section_img_area li a {
    display: block;
    width : 100%; height : 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size : contain;
    background-position: 50% 50%;
  }
  
}








@media screen and (min-width:1920px) {
  #sectionBox {
    position: relative;
    width : 100%;
    height : 700px;
      height : 43.75rem;
  }
  
  .section_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 100px;  height : 40px;
    margin : auto;
  }
  
  .section_indicator ul {
    width : 100%; height: 100%;
    padding : 10px; margin : auto;
    box-sizing: border-box;
  }
  
  .section_indicator li {
    float : left;
    width : 20px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .section_indicator li:last-child { margin-right : 0; }
  
  .section_indicator li.act {
    width : 50px;
  }
  
  .section_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
  
  .section_img_area {
    width : 100%; height : 100%;
  }
  
  .section_img_area li {
    position: absolute;
    top : 0; left: 0;
    width : 100%; height : 100%;
    padding : 50px 100px;
      padding : 3.125rem 6.25rem;
    }
    
  .section_img_area li.act { z-index : 20; }
    
  .section_01 { background-color: #010302; }
  .section_02 { background-color: #dbe3e7; }
    
  .section_img_area li a {
    display: block;
    width : 100%; height : 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size : contain;
    background-position: 50% 50%;
  }
}




