/* css/src/leisure/lotte_aquarium/informationBox/a_information_320.css */



@media screen and (min-width:320px) and (max-width:767px) {

  #informationBox {
    margin-top : 25px;
      margin-top : 1.5625rem;
    padding : 25px 20px;
      padding : 1.5625rem 1.25rem;
  }
  
  
  #informationBox h3 {
    font-size : 20px;
      font-size : 1.25rem;
  }
  
  
  .info_type li {
    height : 60px;
  }

  
  .info_type button {
    padding : 10px;
      padding : 0.625rem;
    font-size : 14px;
      font-size : 0.875rem;
  }
  
  
  
  
  /*-------------------------------------------------------------------------*/
  /* basic_info_area */
  
  
  
  .basic_info_text div {
    float : none;
    width : 100%;  height : auto;
      /* width : 25rem; height: 5rem; */
    padding : 30px;
      padding : 1.875rem;
    border-bottom : 1px solid #9FA1B4;
      border-bottom : var(--border-gray);
    border-right : none;
    
  }
  
  
  .basic_info_text div:last-child {
    border-bottom : 0;
  }
  
  
  
  .basic_info_img {
    width : 100%;
    margin-left : 0;
    padding-bottom : 200px;
      padding-bottom : 12.5rem;
  }
  
  
  .basic_info_img > div {
    width : 100%;
    height : auto;
    min-height: 218.75vw;
  }
  
  
  
  
  .basic_info_img > div:nth-child(1) { background-image : url("../../../../../img/img/leisure/lotte_aquarium/basic_info_img/basic_info_img_01_320.png");}
.basic_info_img > div:nth-child(2) { background-image : url("../../../../../img/img/leisure/lotte_aquarium/basic_info_img/basic_info_img_02_320.png");}
.basic_info_img > div:nth-child(3) { background-image : url("../../../../../img/img/leisure/lotte_aquarium/basic_info_img/basic_info_img_03_320.png");}
.basic_info_img > div:nth-child(4) { background-image : url("../../../../../img/img/leisure/lotte_aquarium/basic_info_img/basic_info_img_04_320.png");}
  
  
  
  
  
  /*-----------------------------------------------------------------------------------------*/
  
  .ticket_select_area > dl {
    position : relative;
    float : none;
    width : 90%;
    height : 250px;
      height : 15.625rem;
    margin-right : 0;
    margin : auto;
    margin-bottom : 30px;
      margin-bottom : 1.875rem;

  }
  
  .ticket_select_area > dl:last-child {
    margin-bottom : 0;
    margin-right : 0;
    margin : auto;
  }
  

  .reservation_button {
    width: 50%;
    height : 15.625vw;
  }

  
  
  

  /*-------------------------------------------------------------------------*/
  .business_info_area {
    overflow: scroll;
  }

  .business_info_area dl {
    width : 100%; height : auto;
  }
  
  .business_info_area dt {
    float: left;
    width : auto; height: auto;
    padding-left : 10px;
      padding-left : 0.625rem;
    margin-right : 5px;
      margin-right : 0.3125rem;
  }


  .seller_info_area > dl {
    width : 100%;  height : auto;
  }
  
  
  .seller_info_area dt {
    float : left;
    width : 35%;  height : 100px;
  }
  
  
  .seller_info_area dd {
    float : left;
    width : 65%;  height : 100px;
    padding: 10px;  padding-left: 20px;
      padding: 0.625rem;  padding-left: 1.25rem;
  }
  


}