/* css/src/leisure/lotte_aquarium/informationBox/b_information_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {
  #informationBox {
    margin-top : 25px;
      margin-top : 1.5625rem;
    padding : 25px 50px;
      padding : 1.5625rem 3.125rem;
  }
  
  
  #informationBox h3 {
    font-size : 22px;
      font-size : 1.375rem;
  }
  

  
  /*-------------------------------------------------------------------------*/
  /* basic_info_area */
  

  
  .basic_info_text div {
    float : left;
    width : 33.333333%;  height : 80px;
      height: 5rem;
  }
  
  
  
  .basic_info_img {
    width : 100%;
    margin-left : 0;
  }
  
  
  .basic_info_img > div {
    width : 100%;
    height : auto;
    min-height : 260vw;
  }
  

  
  
  
  
  
  
  
  
  /*-----------------------------------------------------------------------------------------*/

  .ticket_select_area > dl {
    position : relative;
    float : left;
    width : 31.666666%;
    margin-right : 2.5%;
  }
  
  
  
  .ticket_select_area > dl:last-child {
    margin-right : 0;
  }
  
  
  .ticket_select_area > dl > dt {
    position : absolute;
    top : 16px; left : 16px;
      top : 1rem; left :  1rem;
    margin : 10px;
      margin : 0.625rem;
    font-size : 18px;
      font-size : 1.125rem;
    font-weight: 700;
  }
  
  
  .use_remark {
    position : absolute;
    top : 60px; left : 20px;
      top : 3.75rem; left : 1.5rem;
    height : 30px;  padding : 5px;
      height : 1.875rem;  padding : 0.3125rem;
    font-size : 12px;
      font-size : 0.75rem;
    box-sizing: border-box;
    border-radius: 5px;
      border-radius : 0.3125rem;
    border : 1px solid #DCDEED;
      border : var(--border-card);;
    text-align: center;
  }
  
  
  .count_of_ticket {
    position : absolute;
    bottom : 24px;  left : 24px;
      bottom : 1.5rem;  left : 1.5rem;
  }
  
  
  .count_of_ticket select {
    width : 70px;
    height : 30px;
    text-indent: 0.2rem;
  } /* 수량 버튼 사이즈 확대*/
  
  
  .defult_amount {
    position : absolute;
    bottom : 76px;  right : 24px;
      bottom : 4.75rem;  right : 1.5rem;
    color : #5A5C71;
      color : var(--color-gray);
    font-size : 14px;
      font-size : 0.875rem;
  }
  
  
  .refund_remark {
    position : absolute;
    bottom : 52px;  right : 20px;
      bottom : 3.25rem;  right : 1.25rem;
    padding : 3px;  padding : 0.1875rem;
    font-size : 14px;
      font-size : 0.75rem;
    font-weight: 700;
  }
  
  
  .discount_percent {
    position : absolute;
    bottom : 24px;  right : 1128px;
      bottom : 1.5rem;  right : 8rem;
    font-weight: 700;
    font-size : 13px;
      font-size : 0.8125rem;
  }
  
  
  .amount {
    position : absolute;
    bottom : 24px;  right : 24px;
      bottom : 1.5rem;  right : 1.5rem;
    font-size : 22px;
      font-size : 1.375rem;
    font-weight: 700;
    color : #ff3478;
      color : var(--color-pink);
  }
  
  
  .reservation_button {
    width: 50%;
    height : 70px;
      height : 4.375rem;
  }
  
}