@charset "UTF-8";
/* css/src/index.css */







/*-------------------------------------- section */
#section {
  width : 100%;
  height : 980px;
  padding-top : 50px;
  box-sizing: border-box;
}

.view_01 {
  width : 1200px;
  height : 850px;
  margin : auto;
  box-shadow: 5px 5px 5px #333;
}


.view_01 > a {
  display: block;
  width : 100%; height : 100%;
  background-image : url("../../img/img/view/aquarium/aquarium_950.png");
  background-repeat: no-repeat;
  background-size : contain;
  background-position: 0 0;
}

.view_01 > a:nth-child(1) {
  background-image : url("../../img/img/view/aquarium/aquarium_950.png");
}

.view_01 > a:nth-child(2) {
  display : none;
  background-image : url("../../img/img/view/everland/everland.png");
}

/*-------------------------------------- contant */

#article > div {
  width : 100%;
  height : auto;
  box-sizing: border-box;
  padding-left : 250px;
  padding-bottom : 50px;
  margin-bottom : 250px;
  background-color : var(--color-white);
}

#article > div:last-child {
  margin-bottom : 0;
  padding-bottom : 300px;
}





/* ----------------------------pupular_search_box */
#popular_search_box {
  position : relative;
  min-height : 250px;
}



.pop_list img {
  float : left;
  margin-left : 30px;
}

.pop_list span {
  position : absolute;
  top : 72px;
  padding : 3px;
  color : var(--color-white);
  font-size : 16px;
  background-color : var(--color-gray);
}



.pop_list > li:nth-child(1) span {
 left : 280px;
}

.pop_list > li:nth-child(2) span {
  left : 640px;
}

 .pop_list > li:nth-child(3) span {
  left : 1000px;
}

 .pop_list > li:nth-child(4) span {
  left : 1360px;
}







/* --------------------------------- recommend_box */
#recommend_box {
  min-height : 380px;
}


#recommend_box > p {
  padding : 20px;
  box-sizing: border-box;
  font-size: 1.5em;
  font-weight: bold;
}




/* recom_location_list */
.recom_location_list {
  width  : 1320px;
  height : 50px;
  margin-left : 20px;
  border-top : 1px solid var(--color-gray);
  border-bottom : 1px solid var(--color-gray);
  padding : 10px;
  padding-left : 130px;
  box-sizing: border-box;
}

.recom_location_list > li{
  float : left;
  font-size : 16px;
  margin-right : 300px;
}

.recom_location_list > li:last-child {
  margin-right : 0;
}




/* recom_hotel_list */

.recom_hotel_list > li {
  float : left;
  width : 340px;
  height : auto;
  box-sizing: border-box;
  padding : 20px;
}

.recom_hotel_img {
  width : 300px;
  height : 190px;
}


.recom_title {
  display: block;
  font-size : 16px;
}

.recom_price {
  display: block;
  font-size : 18px;
  font-weight: 700;
  text-align: right;
}






/* ------------------------------------------ art_view */

#art_view {
  width : 1300px;
  height : 320px;
  margin : auto;
  margin-bottom : 250px;
  padding-left : 0;
  background-image : url("../../img/ad/con_view_01.jpg");
}











/* --------------------------------event_box */
#event_box {
  min-height : 1050px;
}


.event_area {
  position : relative;
  margin-left : 20px;
}

.event_area > li {
  float : left;
  width : 600px;
  height : auto;
  margin-right : 100px;
  margin-bottom : 50px;
}



.event_area img {
  width : 100%;
  height : auto;
}




.event_text {
  position : absolute;
  width : auto;
  height : auto;
  display: inline-block;
}

.event_area > li:nth-child(1) > a > .event_text {
  top : 240px;
  left : 20px;
}

.event_area > li:nth-child(2) > a > .event_text {
  top : 240px;
  left : 720px;
}

.event_area > li:nth-child(3) > a > .event_text {
  top : 630px;
  left : 20px;
}

.event_area > li:nth-child(4) > a > .event_text {
  top : 630px;
  left : 720px;
}



.event_coupon {
  width : 75px;
  height : 25px;
  padding : 2px;
  border-radius: 20px;
  margin-bottom: 5px;
  color : var(--color-white);
  text-align: center;
  box-sizing: border-box;
  background-color : var(--color-purple);
}


.event_title {
  color : var(--color-white);
  font-size : 20px;
  font-weight: 700;
}



.event_narration {
  color : var(--color-white);
  font-size : 16px;
}