/* my_yanolja.css */





#sectionBox {
  width : 100%;
  height : auto;
  min-height : 800px;
  padding-top: 100px;
  box-sizing: border-box;
}


#sectionBox > div {
  width : 100%;
  height : 100%;
  margin : auto;
  margin-bottom : 200px;
  padding : 25px 250px;
  /* padding-left : 250px;  */
  box-sizing: border-box;
  background-color : var(--color-white);
}




.login_area > ul {
  width : 100%;
  height : 100%;
  border : 1px solid var(--color-gray);
  border-radius: 15px;
}

.login_area li {
  float : left;
  width: 33.333333%;
  height : 50px;
  font-size : 20px;
  padding: 10px;
  box-sizing: border-box;
  border-bottom : 1px solid var(--color-gray);
  border-right : 1px solid var(--color-gray);
}


.login_area li:nth-child(4),
.login_area li:nth-child(5),
.login_area li:nth-child(6) {
  border-bottom : none;
}

.login_area li:nth-child(3),
.login_area li:nth-child(6) {
  border-right : none;
}


.login_area li > a {
  display: inline-block;
  width : 100%;
  height : 100%;
}


.login_area li > a > i {
  display: inline-block;
  float : right;
  width : 30px;
  height : 30px;
  background-image : url("../../img/icon/my_yanolja/arrow.svg");
  background-repeat: no-repeat;
  background-size: 50%;
}



.login_area li:nth-child(1) > a {
  color : var(--color-pink);
  font-size : 22px;
  font-weight: 700;
}



.reservation_area {}


.event_area {}


.faq_area {}



.view_area {}