/* css/base/base/header/a_header_320.css */



@media screen and (min-width:320px) and (max-width:767px) {
  #header {
    position : relative;
    width : auto;
    height : 60px;
      height : 3.75rem;
      background-color : #fff;
      background-color : var(--color-white);
  }
  
  
  #main_logo > a {
    float : left;
    width : 80px;
      width : 5rem;
    height : 40px;
      height : 2.5rem;
    margin-top : 20px;
      margin-top : 1.25rem;
    margin-left : 20px;
      margin-left : 1.25rem;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  
  #header > form {
    position : absolute;
    left:0; right:0; top:0; bottom:0;
    margin : auto;
    width : 30%;
    height : 25px;
      height : 1.5625rem;
  }


  #header > form > fieldset {
    border : 0;
    width : 100%; height: 100%;
  }


  #header input {
    float: left;
    width : 75%;  height : 100%;
    border : 0;
    border : 2px solid  #ff3478;
      border : 0.125rem solid var(--color-pink);
    font-size : 16px;
      font-size : 1rem;
    color : #000;
      color : var(--color-black);
    text-indent: 1rem;
    transition: all 300ms ease;
  }


  #header button {
    float : left;
    width : 20%;  height : 100%;
    background-color: #ff3478;
    background-color : var(--color-pink);
    border : 0;
    cursor: pointer;
  }

  #header button i {
    display: block;
    width : 85%; height: 85%;
    margin : auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition : all 500ms ease;
  }

  
  .user_link {
    position : relative;
    float : right;
    width : auto; height : auto;
    margin-top : 15px;
      margin-top : 0.9375rem;
    margin-right : 20px;
      margin-right : 1.25rem;
  }
  
  
  .user_link > a {
    display: inline-block;
    width : 25px;    height : 25px;
      width : 1.5625rem;  height : 1.5625rem;
    box-sizing: border-box;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size : 90%;
  }
  
  
  .user_link > a::after {
    position : absolute;
    display: none;
    width : 200px;
      width : 12.5rem;
    height : auto;
    font-size : 14px;
      font-size : 0.875rem;
    color : #5A5C71;
      color : var(--color-gray);
  }


  .user_link > a:nth-child(1)::after { 
    bottom : -40px; left : -80px;   
      bottom : -2.5rem; left : -5rem;
      content: "찜 목록\a로그인 후 이용 가능";
    white-space: pre;
    text-align: center;
  }
  
  
  .user_link > a:nth-child(2)::after { 
    left : 35px;  
      left : 2.1875rem; 
    content: "로그인";
  }

  .user_link > a:nth-child(1):hover::after,
  .user_link > a:nth-child(1):focus::after,
  .user_link > a:nth-child(2):hover::after,
  .user_link > a:nth-child(2):focus::after { 
  display: block;
}
  
  
}

