/* css/base/base/header/a_header_320.css */



@media screen and (min-width:320px) and (max-width:767px) {
  #header {
    margin-top : 30px;
    width : auto;
    height : 60px;
      height : 3.75rem;
  }
  
  
  #main_logo > a {
    width : 80px;
      width : 5rem;
    height : 40px;
      height : 2.5rem;
    margin-top : 20px;
      margin-top : 1.25rem;
    margin-left : 20px;
      margin-left : 1.25rem;
  }
  
  
  #header > form {
    height : 30px;
      height : 1.875rem;
  }


  #header input {
    font-size : 16px;
      font-size : 1rem;
  }

  
  .user_link {
    margin-top : 15px;
      margin-top : 0.9375rem;
    margin-right : 20px;
      margin-right : 1.25rem;
  }
  
  
  .user_link > a {
    width : 25px;
      width : 1.5625rem;
    height : 25px;
      height : 1.5625rem;
    background-size : 90%;
  }
  
  
  
  .user_link > a:nth-child(1)::after { 
    left : -80px;   
      left : -5rem;
  }
  
  
  .user_link > a:nth-child(2)::after { 
    left : 35px;  
      left : 2.1875rem; 
    content: "로그인";
  }
  
  
}

