/* css/base/base/header/b_header_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {
  #header {
    height : 100px;
      height : 6.25rem;
  }
  
  
  #main_logo > a {
    margin-left : 50px;
     margin-left : 3.125rem;
  }
  


  #header input {
    font-size : 18px;
      font-size : 1.125rem;
  }



  .user_link {
    margin-right : 50px;
      margin-right : 3.125rem;
  }


}

