/* css/base/base/header/c_header_1280.css */



@media screen and (min-width:1280px) and (max-width:1599px) {
  #header {
    height : 70px;
      height : 4.375rem;
  }
  
  
  #main_logo > a {
    width : 140px;
      width : 8.75rem;
    height : 40px;
      height : 2.5rem;
    margin-top : 15px;
      margin-top : 0.9375rem;
    margin-left : 100px;
      margin-left : 6.25rem;
  }
  

  #header > form {
    height : 40px;
      height : 2.5rem;
  }

  
  
  .user_link {
    margin-top : 15px;
      margin-top : 0.9375rem;
    margin-right : 100px;
      margin-right : 6.25rem;
  }

  

}

