/* css/base/base/header/d_header_1600.css */



@media screen and (min-width:1600px) and (max-width:1919px) {
  #header {
    height : 80px;
      height : 5rem;
  }
  
  
  #main_logo > a {
    height : 40px;
      height : 2.5rem;
    margin-top : 20px;
      margin-top : 1.25rem;
  }
  
  
  #header input {
    height : 40px;
      height : 2.5rem;
  }
  
  
  .user_link {
    margin-top : 20px;
      margin-top : 1.25rem;
    margin-right : 240px;
      margin-right : 15rem;
  }
  
}

