/* css/base/base/commonBox.css */





#wrap {
  width : 1920px;
    width : 120rem;
  height : auto;
  background-color : #f6f6f6;
    background-color : var(--color-bg-white);
  margin : auto;
}


h2 {
  padding : 20px;
    padding : 1.25rem;
  box-sizing: border-box;
}


#quickButton > h2,
#nav > h2 {
  padding : 0;
}




.contain {
  width : 100%; height : auto;
  min-height : 250px;
   min-height : 15.625rem;
  box-sizing: border-box;
  padding : 40px 250px 70px;
    padding : 2.5rem 15.625rem 4.375rem;
  margin-bottom : 250px;
    margin-bottom : 15.625rem;
  background-color : #fff;
    background-color : var(--color-white);
}




/*-------------------------------#viewBox*/
#viewBox {
  width : 100%; height : auto;
  min-height : 600px;
    min-height : 37.5rem;
  margin-top : 50px;
    margin-top : 3.125rem;
  padding : 25px 350px;
    padding : 1.5625rem 21.875rem;
  box-sizing: border-box;
  background-color: #fff;
    background-color : var(--color-white);
}


#view_img {
  width : 1200px; height : 550px;
    width : 75rem; height : 34.375rem;
  box-sizing: border-box;
}


.view_img_area {
  width : 100%; height : 100%;
}


.view_img_area > li {
  float : right;
  width : 280px;  height : 173px;
    width : 17.5rem; height : 10.8125rem;
  margin-bottom: 15px;
    margin-bottom : 0.9375rem;
}


.view_img_area > li:nth-child(1) {
  float : left;
  width : 900px;
    width : 56.25rem;
  height : 100%;
}


.view_img_area > li:nth-child(1),
.view_img_area > li:nth-child(4) {
  margin-bottom: 0;
}


.view_img_area > li > div {
  width : 100%;
  height : 100%;
  transition : all 500ms ease;
  background-repeat: no-repeat;
  background-size : cover;
  background-position: 50% 50%;
}


.view_img_area > li:hover > div {
  transform: scale(1.03);
  box-shadow: 3px 3px 3px #BEC0D2;
    box-shadow: var(--box-shadow);
}


#view_info {
  width : 100%;
  height : auto;
}


#view_info > dl,
#view_info > dl > dt {
  width : 100%;
  height : auto;
}


#view_info h2 {
  font-size : 32px;
    font-size : 2rem;
}

#view_info dd {
  padding-left : 20px;
    padding-left : 1.25rem;
  line-height: 2;
}






/*-------------------------------------- icon */
.fa-star,
.fa-star-half-alt {
  color : #FDBD00;
    color : var(--color-yellow);
  text-shadow: 2px 2px 3px var(--color-gray);
}


/*
별 
<i class="fas fa-star"></i>

반별 
<i class="fas fa-star-half-alt"></i>

빈별 
<i class="far fa-star"></i>

오른쪽 화살표 
<i class="fas fa-chevron-right"></i>

위치 
<i class="fas fa-map-marker-alt">

주차 
<i class="fas fa-parking"></i>

조식 ( 빵 ) 
<i class="fas fa-bread-slice"></i>

wifi 
<i class="fas fa-wifi"></i>

restaurant 
<i class="fas fa-utensils"></i>

walking 
<i class="fas fa-walking"></i>

비누 
<i class="fas fa-soap"></i>

diamond 
<i class="fas fa-gem"></i>

concierge-bell 
<i class="fas fa-concierge-bell"></i>

tshirt 
<i class="fas fa-tshirt"></i>

business 
<i class="fas fa-briefcase"></i>

smile 
<i class="far fa-smile"></i>

체크박스
<i class="far fa-check-square"></i>

인포써클
<i class="fas fa-info-circle"></i>

확성기
<i class="fas fa-bullhorn"></i>

사람
<i class="fas fa-user"></i>

사람 1인
<i class="fas fa-user"></i>

사람 2인
<i class="fas fa-user-friends"></i>

사람 3인
<i class="fas fa-users"></i>
*/