/* css/base/base/commonBox.css */


@import url("./commonBox/z_commonBox_basic.css");

@import url("./commonBox/a_commonBox_320.css");
@import url("./commonBox/b_commonBox_768.css");
@import url("./commonBox/c_commonBox_1280.css");
@import url("./commonBox/d_commonBox_1600.css");
@import url("./commonBox/e_commonBox_1920.css");










/*-------------------------------------- icon */
.fa-star,
.fa-star-half-alt {
  color : #FDBD00;
    color : var(--color-yellow);
  text-shadow: 2px 2px 3px var(--color-gray);
}


/*
별 
<i class="fas fa-star"></i>

반별 
<i class="fas fa-star-half-alt"></i>

빈별 
<i class="far fa-star"></i>

오른쪽 화살표 
<i class="fas fa-chevron-right"></i>

위치 
<i class="fas fa-map-marker-alt">

주차 
<i class="fas fa-parking"></i>

조식 ( 빵 ) 
<i class="fas fa-bread-slice"></i>

wifi 
<i class="fas fa-wifi"></i>

restaurant 
<i class="fas fa-utensils"></i>

walking 
<i class="fas fa-walking"></i>

비누 
<i class="fas fa-soap"></i>

diamond 
<i class="fas fa-gem"></i>

concierge-bell 
<i class="fas fa-concierge-bell"></i>

tshirt 
<i class="fas fa-tshirt"></i>

business 
<i class="fas fa-briefcase"></i>

smile 
<i class="far fa-smile"></i>

체크박스
<i class="far fa-check-square"></i>

인포써클
<i class="fas fa-info-circle"></i>

확성기
<i class="fas fa-bullhorn"></i>

사람
<i class="fas fa-user"></i>

사람 1인
<i class="fas fa-user"></i>

사람 2인
<i class="fas fa-user-friends"></i>

사람 3인
<i class="fas fa-users"></i>
*/