/* css/base/root.css */





:root {
  --color-white : #fff;
  --color-bg-white : #f6f6f6;
  --color-yellow : #FDBD00;
  --color-bright-pink : #FFD1E1;
  --color-pink : #ff3478;
  --color-purple : #9A5ED2;
  --color-blue : #0152CC;
  --color-navy : #0A496C;
  --color-card-gray : #DCDEED;
  --color-shadow-gray : #BEC0D2;
  --color-border-gray : #9FA1B4;
  --color-gray : #5A5C71;
  --color-black : #000;

  --box-shadow : 0.1875rem 0.1875rem 0.1875rem #BEC0D2;
  --border-gray : 0.0625rem solid #9FA1B4;
  --border-card : 0.0625rem solid #DCDEED;
}


* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

