/* css/src/leisure/lotte_aquarium/viewBox.css */




/* 전체적인 레이아웃은 commonBox에서 처리하였기 때문에 해당 파일은 반응형으로 분리 불필요 */


#view_img {
  position: relative;
}

.view_img_area #view_img_01 {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_01.jpg");}

.view_img_area #view_img_02 {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_02.jpg");}

.view_img_area #view_img_03 {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_03.jpg");}

.view_img_area #view_img_04 {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_04.jpg");}

#view_info dt {
  padding : 20px;
    padding : 1.25rem;
  font-size : 32px;
    font-size : 2rem;
  font-weight: 700;
}

#view_info dd:first-child {
  color :  #5A5C71;
    color : var(--color-gray);
}


#view_info dd:last-child {
  color : #0152CC;
    color : var(--color-blue);
}





@media screen and (min-width:320px) and (max-width:767px) {
  #view_img {
    position: relative;
    width : 100%; height :50vw;
      /* width : 75rem; height : 34.375rem; */
  }


  .view_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 100px;  height : 20px;
    margin : auto;
  }
  
  .view_indicator ul {
    width : 100%; height: 100%;
    padding : 5px; margin : auto;
    box-sizing: border-box;
  }
  
  .view_indicator li {
    float : left;
    width : 10px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .view_indicator li:last-child { margin-right : 0; }
  
  .view_indicator li.act {
    width : 30px;
  }
  
  .view_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }



  #view_info dt {
    padding : 0;
    padding-bottom : 20px;
      padding-bottom : 1.25rem;
    box-sizing: border-box;
    font-size: 22px;
      font-size: 1.375rem;
    font-weight: 700;
  }
  
}

@media screen and (min-width:768px) and (max-width:1279px) {
  #view_img {
    position: relative;
    width : 100%; height :50vw;
  }


  .view_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 130px;  height : 30px;
    margin : auto;
  }
  
  .view_indicator ul {
    width : 100%; height: 100%;
    padding : 7px; margin : auto;
    box-sizing: border-box;
  }
  
  .view_indicator li {
    float : left;
    width : 15px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .view_indicator li:last-child { margin-right : 0; }
  
  .view_indicator li.act {
    width : 40px;
  }
  
  .view_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }
}