/* css/src/leisure/lotte_aquarium/viewBox.css */





.view_img_area > li:nth-child(1) > div {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_01.jpg");}

.view_img_area > li:nth-child(2) > div {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_02.jpg");}

.view_img_area > li:nth-child(3) > div {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_03.jpg");}

.view_img_area > li:nth-child(4) > div {background-image : url("../../../../img/img/leisure/lotte_aquarium/view_img_area/view_img_04.jpg");}


#view_info dd:first-child {
  color :  #5A5C71;
    color : var(--color-gray);
}


#view_info dd:last-child {
  color : #0152CC;
    color : var(--color-blue);
}
