/* css/base/base/footer/b_footer_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {
  
#footer {
  width : 100%;
  min-height : 200px;
   min-height : 12.5rem;
  box-sizing: border-box;
  padding-left : 250px;
    padding-left : 15.625rem;
  padding-right: 300px;
   padding-right: 18.75rem;
  padding-top : 10px;
    padding-top : 0.625rem;
  padding-bottom : 20px;
   padding-bottom : 1.25rem;
  font-size : 12px;
   font-size : 0.75rem;
}


#foot_logo {
  float : left;
  width : 150px;
   width : 9.375rem;
  height : 50px;
    height : 3.125rem;
  margin-top : 50px;
   margin-top : 3.125rem;
  margin-right : 50px;
    margin-right : 3.125rem;
  /* 명도대비 3.2:1 이지만 50px 이상이므로 최소 명암 조건 부합 */
}


#foot_info { float : left; }


#foot_info,
address {
  width : auto; height : auto;
}


#foot_info ul {
  float: left;
  width : 300px; height : auto;
  padding : 10px;
    padding: 0.625rem;
}


#foot_info li {
  float :left;
  width : 100%; height: auto;
  line-height: 0.5;
}


#foot_info dl {
  width : auto; height: auto;
}


#foot_info dt,
#foot_info dd {
  float : left;
  width : auto; height: auto;
} 


#foot_link {
  float : right;
  width : 55%;
  height : auto;
}





/* family_site*/
#family_site {
  position: relative;
  float : right;
  width: 100%; height : 100%;
  margin-top: 10px;
    margin-top : 0.625rem;
}


#family_site > dl {
  position: absolute;
  top : 0;
  right : 0;
  float : right;
  width: 150px;
    width: 9.375rem;
  height : 25px;
   height : 1.5625rem;
  padding : 2px;
   padding : 0.125rem;
  box-sizing: border-box;
  border : 1px solid #9FA1B4;
    border : var(--border-gray);
  text-align: center;
}


#family_site dt {
  margin-bottom : 5px;
    margin-bottom : 0.3125rem;
}


#family_site dd {
  display: none;
  width : 100%;
  height : 30px;
    height : 1.875rem;
  padding : 5px;
    padding : 0.3125rem;
  box-sizing: border-box;
  background-color : #f6f6f6;
   background-color : var(--color-bg-white);
  border : 1px solid #9FA1B4;
   border : var(--border-gray);
}


#family_site > dl:hover dd,
#family_site > dl:focus dd{
  display: block;
}


#family_site > dl:focus { z-index: 100;}

#family_site a:focus { font-weight: 700;}


#family_site a {
  display: block;
  width : 100%;
  height : 100%;
}




/*sns_link*/
#sns_link {
  float : right;
  width : 100%;
  height : auto;
  margin-top : 50px;
    margin-top : 3.125rem;
}


.sns {
  float: right;
  width : auto;
}


.sns > li {
  float: left;
  width : 30px;
    width : 1.875rem;
  height : 30px;
    height : 1.875rem;
  margin-right : 10px;
    margin-right : 0.625rem;
}


#sns_link a {
  float : left;
  display: block;
  width : 100%;
  height : 100%;
  background-repeat: no-repeat;
  background-size : contain;
  background-position : 50% 50%;
  transition: all 300ms ease;
} 


#sns_link a:hover,
#sns_link a:focus {
  transform : scale(1.2, 1.2);
}

#foot_link > p {
  float : right;
  text-align: right;
  margin-top : 10px;
    margin-top : 0.625rem;
}


#link_list {
  float : right;
  width : auto; height :auto;
  margin-top : 10px;
    margin-top : 0.625rem;
  text-align: right;
}


#link_list li{
  float : left;
  width : auto;
  height : auto;
  padding-right : 7px;
    padding-right : 0.4375rem;
  margin-right : 7px;
    margin-right : 0.4375rem;
  border-right : 1px solid #9FA1B4;
    border-right : var(--border-gray);
}


#link_list li:hover { font-weight: 700; }
#link_list a:focus { font-weight: 700; }


#link_list li:last-child {
  margin-right : 0;
  padding-right : 0;
  border-right : 0;
}
}

