/* css/base/base/footer/c_footer_1280.css */



@media screen and (min-width:1280px) and (max-width:1599px) {
 
#footer {
  padding-left : 100px;
    padding-left : 6.25rem;
  padding-right: 100px;
   padding-right: 6.25rem;
}


#foot_logo {
  margin-right : 30px;
    margin-right : 1.875rem;
  /* 명도대비 3.2:1 이지만 50px 이상이므로 최소 명암 조건 부합 */
}






#foot_link {
  float : right;
  width : 50%;
}


#link_list li{
  float : none;
  display: inline-block;
  text-align: right;
}



}

