/* css/base/base/footer/d_footer_1600.css */



@media screen and (min-width:1600px) and (max-width:1919px) {
  #footer {
    padding-left : 240px;
      padding-left : 15rem;
    padding-right: 240px;
     padding-right: 15rem;
  }
  
  
  #foot_logo {
    margin-right : 30px;
      margin-right : 1.875rem;
    /* 명도대비 3.2:1 이지만 50px 이상이므로 최소 명암 조건 부합 */
  }
  
  
  
  
  
  
  #foot_link {
    float : right;
    width : 50%;
  }
  
  
  #link_list li{
    float : none;
    display: inline-block;
    text-align: right;
  }


}

