/* css/src/main/articleBox/a_information_320.css */



@media screen and (min-width:320px) and (max-width:767px) {

/* ----------------------------pupularSearchBox */


.pop_list > li {
  width : 47.5%;  height : 80px;
    /* height : 6.25rem; */
  margin-right : 5%;
  margin-left : 0;
  margin-bottom : 10px;
}


.pop_list > li:nth-child(2),
.pop_list > li:nth-child(4) {
  margin-right: 0;
}



.pop_list span {
  padding : 5px;
    padding : 0.3125rem;
  font-size : 12px;
    font-size : 0.75rem;
}








/* --------------------------------- recommend_box */

#recommendBox > p {
  padding : 0;
  padding-bottom : 20px;
    padding-bottom : 1.25rem;
  font-size: 18px; 
    font-size: 1.125rem;
}


.recom_location_list {
  width  : 100%;  height : 40px;
    /* height : 2.5rem; margin : 0.625rem; */
  margin : auto; 
  margin-bottom : 30px;
    margin-bottom : 1.875rem;
}


.recom_location_list > li {
  padding : 10px;
    padding: 0.625rem;
}


.recom_location_list > li > a {
  font-size : 12px;
    font-size : 0.75rem;
}

.recom_hotel_list dl {
  width: 100%; height : auto;
}


.recom_hotel_list > li {
  float : left;
  width : 47.5%;  height : 160px;
    /* height : 11.25rem; */
  margin-right : 5%;
  margin-left : 0;
  margin-bottom : 10px;
    margin-bottom : 0.625rem;
  padding : 0;
}


.recom_hotel_list > li:nth-child(2),
.recom_hotel_list > li:nth-child(4) {
  margin-right: 0;
}



.recom_img_wrap {
  overflow: hidden;
  width : 100%;  height : 80px;
    /* height : 6.25rem; */
}


.recom_img {
  width : 100%; height: 100%;
}


.recom_hotel_list > li > a {
  width : 100%;  height : auto;
}




.recom_title {
  display: block;
  margin-top : 12px;
    margin-top : 0.75rem;
  font-size : 12px;
    font-size : 0.75rem;
}


.recom_price {
  display: block;
  margin-top : 14px;
    margin-top : 0.875rem;
  font-size : 14px;
    font-size : 0.875rem;
}










/* ------------------------------------------ art_view */
#artViewBox {
  width : 100%; height : auto; 
}


.art_view_area {
  width : 100%; height : 120px;
}


.art_view_area > a {
  background-size: cover;
}









/* --------------------------------event_box */

#eventBox {
  margin-bottom : 0;
  padding-bottom : 200px;
    padding-bottom : 12.5rem;
}


.event_area {
  margin : 0;
}


.event_area > li {
  width : 100%;
  height : auto;
  margin-right : 0; margin-bottom : 50px;
    margin-bottom : 3.125rem;
}


.event_area > li > a {
  width : 100%;
  height : 200px;
    /* height : 18.75rem; */
}


.event_text {
  position : absolute;
  bottom : 15px;  left : 15px;
    /* bottom : 1.875rem;  left : 1.25rem; */
}


.event_coupon {
  width : 80px; height : 30px;
    width : 5rem; height : 1.875rem;
  padding : 4px;
    padding : 0.25rem;
  margin-bottom: 10px;
    margin-bottom : 0.625rem;
  font-size : 16px;
    font-size : 1rem; 
}


.event_title {
  margin-bottom : 5px;
    margin-bottom : 0.3125rem;
  font-size : 14px;
    font-size : 0.875rem;
}


.event_narration {
  font-size : 12px;
    font-size : 0.75rem;
}
}