/* css/src/main/articleBox/c_information_1280.css */


@media screen and (min-width:1280px) and (max-width:1599px) {
  
/* ----------------------------pupularSearchBox */

.pop_list > li {
  width : 22.75%;  height : 12.5vw;
  margin-left : 3%;
}

.pop_list > li:nth-child(1) { margin-left: 0;}






/* --------------------------------- recommend_box */

#recommendBox > p {
  padding : 0;
  padding-bottom : 20px;
    padding-bottom : 1.25rem;
  font-size : 24px;
    font-size: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
}


.recom_location_list {
  width  : 100%;  height : 50px;
    height : 3.125rem;
  margin : 0;
  margin-bottom : 30px;
    margin-bottom : 1.875rem;
}


.recom_hotel_list {
  margin : auto;
}

.recom_hotel_list > li {
  float : left;
  width : 22.75%;
  height : 15.625vw;
  box-sizing: border-box;
  padding : 0;
  margin-left : 3%;
}


.recom_hotel_list > li:first-child { margin-left : 0;}


.recom_img_wrap {
  width : 100%;  height : 12.5vw;
}


.recom_img {
  width : 100%; height: 100%;
}


.recom_hotel_list > li > a {
  width : 100%;  height : 100%;
}



.recom_hotel_list dl {
  width: 100%; height : auto;
}










/* ------------------------------------------ art_view */

#artViewBox {
  position: relative;
  width : 100%; height : 19.53125vw;
  margin-bottom : 250px;
    margin-bottom : 15.625rem;
}

.art_view_indicator {
  position : absolute;
  z-index: 100;
  bottom : 10px;  left : 0; right : 0;
  width : 100px;  height : 40px;
  margin-left : 50%;
}

.art_view_indicator ul {
  width : 100%; height: 100%;
  padding : 10px; margin : auto;
  box-sizing: border-box;
}


.art_view_indicator li {
  float : left;
  width : 20px; height : 100%;
  margin-right : 10px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.art_view_indicator li a {
  display: block;
  width : 100%; height : 100%;
}

.art_view_indicator li:last-child { margin-right: 0;}

.art_view_indicator li.act {
  width : 50px;
}

.art_view_img,
.art_view_img ul{
  width : 100%; height: 100%;
}

.art_view_img li {
  position: absolute;
  top : 0; left : 0;
  width : 100%; height : 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


.art_view_area a {
  width : 100%; height : 100%;
}

.art_view_img li.act {  z-index : 20; }









/* --------------------------------event_box */

#eventBox {
  margin-bottom : 0;
  padding-bottom : 300px;
    padding-bottom : 18.75rem;
}


.event_area {
  margin-left : 20px;
    margin-left : 1.25rem;
}


.event_area > li {
  position : relative;
  float : left;
  width : 47.5%;
  height : auto;
  margin-right : 5%; margin-bottom : 50px;
    margin-bottom : 3.125rem;
}

.event_area > li > a {
  height : 22vw;
}

.event_area > li:nth-child(2),
.event_area > li:nth-child(4) {
  margin-right: 0;
}

}