/* css/src/main/articleBox/z_articleBox_basic.css */



/* ----------------------------pupularSearchBox */

.pop_list > li {
  position : relative;
  float : left;
  width : 22.75%;  height : 12.5vw;
  margin-left : 3%;
}

.pop_list > li:nth-child(1) { margin-left: 0;}


.pop_list a {
  display: block;
  width : 100%; height : 100%;
  overflow : hidden;
}


.pop_list div {
  width : 100%; height : 100%;
  background-size : cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition : all 500ms ease;
}


.pop_list li:nth-child(1) div { background-image : url("../../../../img/img/pop_search/pop_search_01.png");}

.pop_list li:nth-child(2) div { background-image : url("../../../../img/img/pop_search/pop_search_02.png");}

.pop_list li:nth-child(3) div { background-image : url("../../../../img/img/pop_search/pop_search_03.png");}

.pop_list li:nth-child(4) div { background-image : url("../../../../img/img/pop_search/pop_search_04.png");}


.pop_list span {
  position : absolute;
  z-index : 100;
  top : 0; left : 0;
  padding : 7px;
    padding : 0.4375rem;
  font-size : 16px;
    font-size : 1rem;
  color : #fff;
    color : var(--color-white);
  background-color : #5A5C71;
    background-color : var(--color-gray);
}


.pop_list div:hover { transform: scale(1.1, 1.1); }









/* --------------------------------- recommend_box */


#recommendBox > p {
  padding : 0;
  padding-bottom : 20px;
    padding-bottom : 1.25rem;
  font-size : 24px;
    font-size: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
}


.recom_location_list {
  width  : 100%;  height : 50px;
    height : 3.125rem;
  margin : 0;
  margin-bottom : 30px;
    margin-bottom : 1.875rem;
  border-top : 1px solid #9FA1B4;
    border-top : var(--border-gray);
  border-bottom : 1px solid #9FA1B4;
    border-bottom : var(--border-gray);
}


.recom_location_list > li {
  float : left;
  width : 25%;  height : 100%;
  padding : 10px;
    padding: 0.625rem;
  box-sizing: border-box;
  transition : all 300ms ease;
}


.recom_location_list > li > button {
  display: block;
  width : 100%; height : 100%;
  font-size : 16px;
    font-size : 1rem;
  text-align: center;
  background-color : transparent;
  border : 0;
  cursor: pointer;
}


.recom_location_list > li.act {
  font-weight : 700;
  box-shadow: 3px 3px 3px #BEC0D2;
  box-shadow: var(--box-shadow);
  background-color : #FFD1E1;
  background-color : var(--color-bright-pink);
}

.recom_location_list > li:hover {
  background-color : #f6f6f6;
    background-color : var(--color-bg-white);
}


.recom_location_list > li:last-child {
  margin-right : 0;
}

.recom_hotel_list {
  margin : auto;
}

.recom_hotel_list > li {
  float : left;
  width : 22.75%; height : 15.625vw;
  box-sizing: border-box;
  padding : 0;
  margin-left : 3%;
}

.recom_hotel_list > li:first-child { margin-left : 0;}


.recom_img_wrap {
  overflow: hidden;
  width : 100%;  height : 12.5vw;
}


.recom_img {
  width : 100%; height: 100%;
  transition : all 500ms ease;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size : cover; 
}


.seoul li:nth-child(1) .recom_img { background-image : url("../../../../img/img/recom/recom_cheong.jpg");}
.seoul li:nth-child(2) .recom_img { background-image : url("../../../../img/img/recom/recom_ramada.jpg");}
.seoul li:nth-child(3) .recom_img { background-image : url("../../../../img/img/recom/recom_fair.jpg");}
.seoul li:nth-child(4) .recom_img { background-image : url("../../../../img/img/recom/recom_orakai.jpg");}

.jeju li:nth-child(1) .recom_img { background-image : url("../../../../img/img/recom/recom_regent.jpg");}
.jeju li:nth-child(2) .recom_img { background-image : url("../../../../img/img/recom/recom_hwi.jpg");}
.jeju li:nth-child(3) .recom_img { background-image : url("../../../../img/img/recom/recom_pass.jpg");}
.jeju li:nth-child(4) .recom_img { background-image : url("../../../../img/img/recom/recom_best.jpg");}

.kangwon li:nth-child(1) .recom_img { background-image : url("../../../../img/img/recom/recom_ramada_sok.jpg");}
.kangwon li:nth-child(2) .recom_img { background-image : url("../../../../img/img/recom/recom_300.jpg");}
.kangwon li:nth-child(3) .recom_img { background-image : url("../../../../img/img/recom/recom_oceantoyou.jpg");}
.kangwon li:nth-child(4) .recom_img { background-image : url("../../../../img/img/recom/recom_two.jpg");}

.busan li:nth-child(1) .recom_img { background-image : url("../../../../img/img/recom/recom_suncloud.jpg");}
.busan li:nth-child(2) .recom_img { background-image : url("../../../../img/img/recom/recome_seacloud.jpg");}
.busan li:nth-child(3) .recom_img { background-image : url("../../../../img/img/recom/recom_fair_busan.jpg");}
.busan li:nth-child(4) .recom_img { background-image : url("../../../../img/img/recom/recom_stay.jpg");}


.recom_hotel_list > li > a {
  width : 100%;  height : 100%;
}


.recom_hotel_list > li > a:hover .recom_img {  
  transform: scale(1.1, 1.1);
}


.recom_hotel_list dl {
  width: 100%; height : auto;
}

.recom_title {
  display: block;
  margin-top : 16px;
    margin-top : 1rem;
  font-size : 16px;
    font-size : 1rem;
}


.recom_price {
  display: block;
  margin-top : 16px;
    margin-top : 1rem;
  font-size : 18px;
    font-size : 1.125rem;
  font-weight: 700;
  text-align: right;
}











/* ------------------------------------------ art_view */
#artViewBox {
  position: relative;
  width : 100%; height : 19.53125vw;
  margin-bottom : 250px;
    margin-bottom : 15.625rem;
}


.art_view_indicator {
  position : absolute;
  z-index: 100;
  bottom : 10px;  left : 0; right : 0;
    bottom : 0.625rem;
  width : 100px;  height : 40px;
    width : 6.25rem;  height : 2.5rem;
  margin-left : 50%;
}

.art_view_indicator ul {
  width : 100%; height: 100%;
  padding : 10px; margin : auto;
    padding : 0.625rem;
  box-sizing: border-box;
}


.art_view_indicator li {
  float : left;
  width : 20px; height : 100%;
    width : 1.25rem;
  margin-right : 10px;  border-radius: 100px;
    margin-right : 0.625rem;  border-radius: 6.25rem;
  background-color: #f6f6f6;
  background-color : var(--color-bg-white);
  transition: all 300ms ease;
}

.art_view_indicator li a {
  display: block;
  width : 100%; height : 100%;
}

.art_view_indicator li:last-child { margin-right: 0;}

.art_view_indicator li.act {
  width : 50px; width : 3.125rem;
  background-color: #ff3478;
  background-color : var(--color-pink);
}

.art_view_img,
.art_view_img ul{
  width : 100%; height: 100%;
}

.art_view_img li {
  position: absolute;
  top : 0; left : 0;
  width : 100%; height : 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}


.art_view_area a {
  width : 100%; height : 100%;
}

.art_view_img li.act {  z-index : 20; }


.art_view_img > .art_view_img_01 { 
  background-image : url("../../../../img/ad/art_view_01.png"); 
}

.art_view_img > .art_view_img_02 { 
  background-image : url("../../../../img/ad/art_view_02.png"); 
}










/* --------------------------------event_box */

#eventBox {
  margin-bottom : 0;
  padding-bottom : 300px;
    padding-bottom : 18.75rem;
}


.event_area {
  margin-left : 20px;
    margin-left : 1.25rem;
}


.event_area > li {
  position : relative;
  float : left;
  width : 47.5%;  height : auto;
  margin-right : 5%; margin-bottom : 50px;
    margin-bottom : 3.125rem;
}

.event_area > li:nth-child(2),
.event_area > li:nth-child(4) {
  margin-right: 0;
}


.event_area > li > a {
  display : block;
  width : 100%;height : 22vw;
  overflow: hidden;
}


.event_area div {
  width : 100%;
  height : 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition : all 500ms ease;
}


.event_area li:nth-child(1) div { background-image : url("../../../../img/img/content/con_01.png");}

.event_area li:nth-child(2) div { background-image : url("../../../../img/img/content/con_02.png");}

.event_area li:nth-child(3) div { background-image : url("../../../../img/img/content/con_03.png");}

.event_area li:nth-child(4) div { background-image : url("../../../../img/img/content/con_04.png");}


.event_area > li> a:hover > div {
  transform: scale(1.1);
}


.event_text {
  position : absolute;
  bottom : 30px;  left : 20px;
    bottom : 1.875rem;  left : 1.25rem;
  width : auto; height : auto;
  display: inline-block;
}


.event_coupon {
  width : 90px; height : 40px;
    width : 5.625rem; height : 2.5rem;
  padding : 7px;
    padding : 0.4375rem;
  border-radius: 20px;
    border-radius : 1.25rem;
  margin-bottom: 10px;
    margin-bottom : 0.625rem;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size : 18px;
    font-size : 1.125rem; 
  /* 명도대비 4.3 : 1 이므로, 18px + Bold 설정함 */
  color : #fff;
    color : var(--color-white);
  background-color :  #9A5ED2;
    background-color : var(--color-purple);
}


.event_title {
  margin-bottom : 5px;
    margin-bottom : 0.3125rem;
  color : #fff;
    color : var(--color-white);
  font-size : 20px;
    font-size : 1.25rem;
  font-weight: 700;
}


.event_narration {
  font-size : 16px;
    font-size : 1rem;
  color : #fff;
    color : var(--color-white);
}
