/* css/src/domestic_hotel/domestic_marriott/premier_twin/informationBox/a_informationBox_320.css */







@media screen and (min-width:320px) and (max-width:767px) {


#informationBox {
  margin-top : 20px;
    margin-top : 1.25rem;
  padding : 20px;
    padding : 1.25rem;
}


#informationBox h3 {
  font-size : 20px;
   font-size : 1.25rem;
}













/*mini_info_box-----------------------------------*/
#mini_info_box {
  margin-top : 30px;  margin-bottom : 100px;
    margin-top : 1.875rem;  margin-bottom : 6.25rem;
}


#mini_info_box > dl {
  float : none;
  width : 100%; height : auto;
  margin : 0;
  padding : 20px;
    padding : 1.25rem;
  border-right: 0;
  border-bottom : 1px solid #9FA1B4;
    border-bottom : var(--border-gray);
  box-sizing: border-box;
  text-align: center;
}

#mini_info_box > dl:last-child {
  border-bottom : 0;
}

#mini_info_box dt {
   font-size : 14px;
    font-size: 0.875rem;
  }


#mini_info_box dd {
  font-size : 16px;
  font-size : 1rem;
}






}