/* css/src/domestic_hotel/domestic_marriott/premier_twin/informationBox/b_informationBox_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {


#informationBox {
  margin-top : 20px;
    margin-top : 1.25rem;
  padding : 20px;
    padding : 1.25rem;
}


#informationBox h3 {
  font-size : 22px;
   font-size : 1.375rem;
}



}