@charset "UTF-8";
/* css/base/base.css */







:root {
  --color-white : #fff;
  --color-bg-white : #f6f6f6;
  --color-yellow : #FDBD00;
  --color-pink : #ff3478;
  --color-purple : #9A5ED2;
  --color-blue : #0152CC;
  --color-gray : #5A5C71;
  --color-black : #000;
}





#wrap {
  width : 1920px;
    width : 120rem;
  height : auto;
  background-color : var(--color-bg-white);
    background-color : #f6f6f6;
  margin : auto;
}


h2 {
  padding : 20px;
    padding : 1.25rem;
  box-sizing: border-box;
}


#quickButton > h2,
#nav > h2 {
  padding : 0;
}






/*-------------------------------------- icon */
.fa-star,
.fa-star-half-alt {
  color : var(--color-yellow);
    color : #FDBD00;
}





/*
star <i class="fas fa-star"></i>
star-half <i class="fas fa-star-half-alt"></i>
star-empty <i class="far fa-star"></i>
right-arrows <i class="fas fa-chevron-right"></i>
location <i class="fas fa-map-marker-alt">

parking <i class="fas fa-parking"></i>
bread <i class="fas fa-bread-slice"></i>
wifi <i class="fas fa-wifi"></i>
restaurant <i class="fas fa-utensils"></i>
walking <i class="fas fa-walking"></i>
soap <i class="fas fa-soap"></i>
diamond <i class="fas fa-gem"></i>
concierge-bell <i class="fas fa-concierge-bell"></i>
tshirt <i class="fas fa-tshirt"></i>
business <i class="fas fa-briefcase"></i>

smile <i class="far fa-smile"></i>
*/





/*-------------------------------------- header */
#header {
  width : 100%;
  height : 100px;
    height : 6.25rem;
  background-color : #fff;
    background-color : var(--color-white);
}


#main_logo > a {
  float : left;
  width : 150px;
    width : 9.375rem;
  height : 50px;
    height : 3.125rem;
  margin-top : 25px;
    margin-top : 1.5625rem;
  margin-left : 240px;
   margin-left : 15rem;
  background-image : url("../../img/icon/yanolja/logo_yanolja_pink.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


#header > form {
  width : auto;
  display: inline-block;
}


#header input {
  width: 400px;
    width: 25rem;
  height : 50px;
    height : 3.125rem;
  border : 0;
  margin-top : 22px;
    margin-top : 1.375rem;
  margin-left : 360px;
    margin-left : 22.5rem;
  border : 2px solid  #ff3478;
    border : 0.125rem solid var(--color-pink);
  font-size : 24px;
    font-size : 1.5rem;
  color : #000;
    color : var(--color-black);
  text-indent: 1rem;
}


.user_link {
  float : right;
  width : auto;
  height : auto;
  margin-top : 25px;
    margin-top : 1.5625rem;
  margin-right : 270px;
    margin-right : 16.875rem;
}


.user_link > a {
  display: inline-block;
  width : 35px;
    width : 2.1875rem;
  height : 35px;
    height : 2.1875rem;
  padding : 10px;
    padding : 0.625rem;
  margin-left : 10px;
    margin-left : 0.625rem;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}


.user_link > a:nth-child(1) {
  background-image : url("../../img/icon/header/찜.svg");
}


.user_link > a:nth-child(2) {
  background-image: url("../../img/icon/header/로그인.svg");
}










/*-------------------------------------- nav */

#nav {
  position : fixed;
  top : 0;
  left : 50%;
  z-index: 1000;
  margin-left : -960px;
   margin-left : -60rem;
  width : 40px;
    width : 2.5rem;
  height : 100%;
  background: #5A5C71;
   background-color : var(--color-gray);
  transition: all 0.7s ease;
}


#nav_link {
  position : relative;
  background-color : #5A5C71;
    background-color : var(--color-gray);
  z-index : 10;
}


.nav_i_box {
  position : absolute;
  top : 400px;
    top : 25rem;
  left : 50%;
  z-index : 1000;
  width : 40px;
    width : 2.5rem;
  height : 40px;
    height : 2.5rem;
}


.nav_i_box > i {
  font-size : 18px;
    font-size : 1.125rem;
  color : #fff;
    color : var(--color-white);
}


.nav_detail {
  display : none;
  position : absolute;
  top : 120px;
    top : 7.5rem;
  left : 20px;
    left : 1.25rem;
  transition : all 500ms ease;
  transition-delay: 300ms;
}


.nav_detail li {
  width : 80px;
    width : 5rem;
  height : 100px;
    height : 6.25rem;
  margin-bottom: 50px;
    margin-bottom : 3.125rem;
  text-align: center;
}


.nav_detail i {
  display: block;
  width : 40px;
   width : 2.5rem;
  height : 40px;
   height : 2.5rem;
  margin : auto;
  margin-bottom : 10px;
    margin-bottom : 0.625rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}


.nav_detail li:nth-child(1) i {
  background-image : url("../../img/icon/nav/지역_white.svg");
}
.nav_detail li:nth-child(2) i {
  background-image : url("../../img/icon/nav/국내_white.svg");
}
.nav_detail li:nth-child(3) i {
  background-image : url("../../img/icon/nav/레저_white.svg");
}
.nav_detail li:nth-child(4) i {
  background-image : url("../../img/icon/nav/교통_white.svg");
}
.nav_detail li:nth-child(5) i {
  background-image : url("../../img/icon/nav/해외_white.svg");
}


.nav_detail dl {
  position : relative;
  width :  200px;
    width : 12.5rem;
}


.nav_detail dt {
  float : left;
  width : 80px;
   width : 5rem;
  height: 20px;
   height: 1.25rem;
  color : #fff;
    color : var(--color-white);
  transition : all 200ms ease;
}


.nav_detail dt:hover {
  transform : scale(1.1);
  font-weight: 700;
}


.nav_detail .nav_dd {
  position: absolute;
  top : -65px;
    top : -4.0625rem;
  left : 100px;
    left : 6.25rem;
  float : right;
  width : 100px;
    width : 6.25rem;
  font-size : 14px;
    font-size : 0.875rem;
  line-height: 2;
  text-align: left;
  color : #fff;
    color : var(--color-white);
}


.nav_detail .nav_dd > dd {
  transition : all 200ms ease;
}


.nav_detail .nav_dd >dd:hover {
  transform : scale(1.1);
  font-weight: 700;
}


.nav_detail li:nth-child(2) .nav_dd {
  top : -90px;
    top : -5.625rem;
}


.nav_detail li:nth-child(3) .nav_dd {
  top : -50px;
    top : -3.125rem;
}





/* -----nav:hover */

#nav:hover {
  position:fixed;
  top : 0;
  width : 240px;
    width : 15rem;
  height : 100%;
  background: #5A5C71;
   background-color : var(--color-gray);
} 


#nav:hover .fa-chevron-right {
  display: none;
}


#nav:hover .nav_detail {
  display: block;
}










/* --------------------------------quickButton */
#quickButton {
  position : fixed;
  z-index: 100;
  bottom : 50px;  right : 50px;
    bottom : 3.125rem; right : 3.125rem;
  width : 40px; height : 90px;
    width : 2.5rem; height : 5.625rem;
}


#quickButton > div,
#quickButton ul {
  width : 100%;
  height : 100%;
}


#quickButton li {
  width :40px;  height : 40px;
    width : 2.5rem; height : 2.5rem;
  border-radius: 40px;
    border-radius: 2.5rem;
  background-color : #ff3478;
    background-color : var(--color-pink);
  transition : all 400ms ease;
}


#quickButton li:hover {
  transform : scale(1.2, 1.2);
  box-shadow: 3px 3px 3px rgba(90,92,113,0.5);
    box-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(90,92,113,0.5);
}


#quickButton li i {
  display: block;
  width : 100%;
  height : 100%;
  background-image: url("../../img/icon/aside/aside_arrow.svg");
  background-size : 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;  
}


.down_button i {
  transform : rotate(180deg);
}


.up_button {
  margin-bottom : 10px;
    margin-bottom : 0.625rem;
}


#quickButton li > a {
  display : block;
  width : 100%;
  height : 100%;
}










/*-------------------------------------- footer */
#footer {
  width : 100%;
  min-height : 200px;
   min-height : 12.5rem;
  box-sizing: border-box;
  padding-left : 250px;
    padding-left : 15.625rem;
  padding-right: 300px;
   padding-right: 18.75rem;
  padding-top : 10px;
    padding-top : 0.625rem;
  padding-bottom : 20px;
   padding-bottom : 1.25rem;
  font-size : 12px;
   font-size : 0.75rem;
}


#foot_logo {
  float : left;
  width : 150px;
   width : 9.375rem;
  height : 50px;
    height : 3.125rem;
  margin-top : 50px;
   margin-top : 3.125rem;
  margin-right : 50px;
    margin-right : 3.125rem;
  background-image: url("../../img/icon/footer/logo_yanolja_gray.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}


#foot_info ul {
  float: left;
  width : auto;
  height : auto;
  padding : 10px;
    padding: 0.625rem;
}


#foot_link {
  float : right;
  width : 776px;
    width : 48.5rem;
}


#family_site {
  margin-top: 10px;
    margin-top : 0.625rem;
}


#family_site > dl {
  float : right;
  width: 150px;
    width: 9.375rem;
  height : 25px;
   height : 1.5625rem;
  padding : 2px;
   padding : 0.125rem;
  box-sizing: border-box;
  border : 1px solid #5A5C71;
    border : 0.0625rem solid var(--color-gray);
  text-align: center;
}


#family_site dt {
  margin-bottom : 5px;
    margin-bottom : 0.3125rem;
}


#family_site dd {
  display: none;
  width : 100%;
  height : 30px;
    height : 1.875rem;
  padding : 5px;
    padding : 0.3125rem;
  box-sizing: border-box;
  background-color : #f6f6f6;
   background-color : var(--color-bg-white);
  border : 1px solid #5A5C71;
   border : 0.0625rem solid var(--color-gray);
}


#family_site > dl:hover dd{
  display: block;
}


#family_site a {
  display: block;
  width : 100%;
  height : 100%;
}

#sns_link {
  width : 100%;
  height : auto;
  margin-top : 10px;
    margin-top : 0.625rem;
}


.sns {
  float: right;
  width : auto;
}


.sns > li {
  float: left;
  width : 30px;
    width : 1.875rem;
  height : 30px;
    height : 1.875rem;
  margin-right : 10px;
    margin-right : 0.625rem;
}


#sns_link a {
  float : left;
  display: block;
  width : 100%;
  height : 100%;
  background-repeat: no-repeat;
  background-size : contain;
  background-position : 50% 50%;
  transition: all 300ms ease;
} 


#sns_link a:hover {
  transform : scale(1.2, 1.2);
}


#sns_link .sns > li:nth-child(1) > a {
  background-size: 80%;
  background-image : url("../../img/icon/footer/facebook.png");
}
#sns_link .sns > li:nth-child(2) > a {
  background-size: 80%;
  background-image : url("../../img/icon/footer/instagram.png");
}
#sns_link .sns > li:nth-child(3) > a {
  background-size: 80%;
  background-image : url("../../img/icon/footer/youtube.png");
}
#sns_link .sns > li:nth-child(4) > a {
  background-image : url("../../img/icon/footer/naver_tv.png");
}
#sns_link .sns > li:nth-child(5) > a {
  background-image : url("../../img/icon/footer/naver_blog.png");
}
#sns_link .sns > li:nth-child(6) > a {
  background-image : url("../../img/icon/footer/naver_post.png");
}


#foot_link > p {
  text-align: right;
  margin-top : 10px;
    margin-top : 0.625rem;
}


#link_list {
  float : right;
  margin-top : 10px;
    margin-top : 0.625rem;
  text-align: right;
}


#link_list li{
  float : left;
  width : auto;
  height : auto;
  padding-right : 7px;
    padding-right : 0.4375rem;
  margin-right : 7px;
    margin-right : 0.4375rem;
  border-right : 1px solid #5A5C71;
    border-right : 0.0625rem solid var(--color-gray);
}


#link_list li > a:hover {
 font-weight: 700;
}


#link_list li:last-child {
  margin-right : 0;
  padding-right : 0;
  border-right : 0;
}