@charset "UTF-8";
/* css/base/common.css */





.clearfix {
  height : auto;
}


.clearfix:after,
.clearfix::after {
  content:" ";
  display : block;
  clear : both;
}


.blind {
  display : block;
  width : 0;
  height : 0;
  position : absolute;
  z-index : -1;
  overflow: hidden;
}


.none { display: none ;}


.hyphen:before { content: "- "; }


abbr { text-decoration: none;}

address { font-style: normal;}