/* css/base/base/nav/a_nav_320.css */



@media screen and (min-width:320px) and (max-width:767px) {
  

  #nav {
    position : fixed;
    top : unset;  bottom : 0; left : 0;
    z-index: 1000;
    width : 100%; height : 40px;
    background: #5A5C71;
     background-color : var(--color-gray);
    transition: all 0.7s ease;
    overflow: hidden;
  }
  
  
  #nav_link {
    position : relative;
    width : 100%; height : 100%;
    background-color : #5A5C71;
      background-color : var(--color-gray);
    z-index : 10;
  }
  
  
  .nav_i_box {
    position : absolute;
    top : 0; left : 0; right : 0; margin : auto;
    z-index : 1000;
    width : 30px;
      /* width : 1.25rem; */
    height : 30px;
      /* height : 1.25rem; */
  }
  
  .nav_i_box > i {
    display: none;
    font-size : 14px;
      font-size : 0.875rem;
    color : #fff;
      color : var(--color-white);
    transform: rotate(270deg);
  }
  
  .nav_i_box > .line {
    display: block;
    position : absolute;
    top : 0; bottom : 0; left : 0; right : 0;
    width : 80%; height: 2px;
    margin : auto;
    background-color : #fff;
    transition : all 300ms ease;
  }

  .nav_i_box > .line1 {
    transform: translateY(0.2rem);
  }

  .nav_i_box > .line2 {
    transform: translateY(0.6rem);
  }
  
  
  .nav_detail {
    display : none;
    position : fixed;
    top : unset; bottom : 0; left : 0;
    width : calc(100% + 7px); height : 45%;
    padding : 30px; box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transition : all 500ms ease;
    transition-delay: 500ms;
  }
  
  
  .nav_detail li {
    position : relative;
    width : 100%; height : 100px;
    margin-bottom: 40px; 
    box-sizing: border-box;
    text-align: center;
    border-bottom : 1px solid #fff;
  }
  
  
  .nav_detail i {
    position : absolute;
    top : 0; left : 20px;
    display: block;
    width : 40px;    height : 40px;
     width : 2.5rem;     height : 2.5rem;
    margin-bottom : 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
    
  
  .nav_detail dl {
    position : unset;
    width :  100%;  height : auto;
  }
  
  
  .nav_detail dt {
    position : absolute;
    top : 50px; left : 0;
    float : unset;    
    width : 80px; height: 20px;
     width : 5rem;  height: 1.25rem;
    color : #fff;
      color : var(--color-white);
    transition : all 200ms ease;
  }
  
  
  .nav_detail .nav_dd {
    position : absolute;
    top : 0; left : 150px;
    font-size : 14px;
      font-size : 0.875rem;
    text-align: left;
    color : #fff;
      color : var(--color-white);
    transition : all 200ms ease;
  }
  
  
  .nav_detail .nav_dd a {
    transition : all 200ms ease;
  }
  
  
  .nav_detail .kangwon { top :0px;}
  .nav_detail .busan { top : 25px;}
  .nav_detail .jeju { top : 50px; }
  
  .nav_detail .motel { top : -25px;}
  .nav_detail .hotel { top : 0px;}
  .nav_detail .condo { top : 25px;}
  .nav_detail .camping { top : 50px;}
  .nav_detail .guesthouse { top : 75px;}
  
  .nav_detail .leisure { top : 10px;}
  .nav_detail .brand { top : 35px;}
  
  .nav_detail .ktx { top : -5px;}
  .nav_detail .rentacar { top : 20px;}
  .nav_detail .airline { top : 45px;}
  
  .nav_detail .global { top : 25px;}
  
  
  
  
  
  
  
  
  /* -----nav:hover */
  
  #nav_link.act{
    top : unset;
    bottom : 0;
    width : 100%; height : 50%;
    background: #5A5C71;
     background-color : var(--color-gray);
  } 
  
  
  .nav_detail dt:hover {
    transform : scale(1.1);
    font-weight: 700;
  }
  
  
  #nav_link.act .nav_i_box > .line1{ transform: translateY(0) rotate(45deg);}
  #nav_link.act .nav_i_box > .line2{ transform: translateY(0) rotate(-45deg);}
  
  
  #nav_link.act .nav_detail {
    display: block;
  }
  
  
  .nav_detail .nav_dd:hover {
    transform : scale(1.1);
    font-weight: 700;
  }
  
  
  .nav_detail .nav_dd a:focus {
    font-size : 15.4px;
      font-size : 0.9625rem;
    font-weight: 700;
  }

}

