/* css/base/base/commonBox/a_commonBox_320.css */



@media screen and (min-width:320px) and (max-width:767px) {
  #wrap {
    width : auto; height : auto;
    min-width : 320px;
      min-width : 20rem;
    max-width : 767px;
    background-color : #f6f6f6;
      background-color : var(--color-bg-white);
    margin : auto;
  }
  
  
  h2 {
    padding : 0;
    padding-bottom : 20px;
      padding-bottom : 1.25rem;
    box-sizing: border-box;
    font-size: 18px;
      font-size: 1.125rem;
  }
  
  
  #quickButton > h2,
  #nav > h2 {
    padding : 0;
  }


  .contain {
    width : 100%; height : auto;
    min-height : 200px;
     min-height : 12.5rem;
    box-sizing: border-box;
    padding : 20px;
      padding : 1.25rem;
    margin-bottom : 150px;
      margin-bottom : 9.375rem;
    background-color : #fff;
      background-color : var(--color-white);
  }
  
  
  
  
  /*-------------------------------#viewBox*/
  #viewBox {
    width : 100%; height : auto;
    min-height : 400px;
      min-height : 25rem;
    margin-top : 15px;
      margin-top : 0.9375rem;
    padding : 25px 20px;
      padding : 1.5625rem 1.25rem;
    box-sizing: border-box;
    background-color: #fff;
      background-color : var(--color-white);
  }
  
  
  #view_img {
    width : 100%; height : 62.5vw;
    box-sizing: border-box;
  }
  
  
  .view_img_area {
    width : 100%; height : 100%;
  }


  .view_img_area > li {
    display: none;
    float : right;
    width : 100%;  height : 100%;
    margin-bottom: 0;
  }
  
  
  .view_img_area > li:nth-child(1) {
    display: block;
    float : left;
    width : 100%; height : 100%;
  }

  
  .view_img_area > li:nth-child(1),
  .view_img_area > li:nth-child(4) {
    margin-bottom: 0; 
  }


  .view_img_area > li > div {
    width : 100%;
    height : 100%;
    transition : all 500ms ease;
    background-repeat: no-repeat;
    background-size : cover;
    background-position: 50% 50%;
  }


  .view_img_area > li:hover > div {
    transform: scale(1.03);
    box-shadow: 3px 3px 3px #BEC0D2;
      box-shadow: var(--box-shadow);
  }


  #view_info {
    width : 100%;
    height : auto;
  }

  #view_info > dl,
  #view_info > dl > dt {
    width : 100%;
    height : auto;
  }
  
  
  #view_info h2 {
    font-size : 22px;
      font-size : 1.375rem;
  }
  
  #view_info dd {
    padding-left : 10px;
      padding-left : 0.625rem;
    line-height: 1.7;
  }
}

