/* css/base/base/commonBox/b_commonBox_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {
  #wrap {
    width : auto; height : auto;
    min-width : 768px;
      min-width : 48rem;
    max-width : 1279px;
    background-color : #f6f6f6;
      background-color : var(--color-bg-white);
    margin : auto;
  }
  
  
  h2 {
    padding : 0;
    padding-bottom : 20px;
      padding-bottom : 1.25rem;
    box-sizing: border-box;
    font-size: 18px;
      font-size: 1.125rem;
  }
  
  
  #quickButton > h2,
  #nav > h2 {
    padding : 0;
  }


  .contain {
    width : 100%; height : auto;
    min-height : 200px;
     min-height : 12.5rem;
    box-sizing: border-box;
    padding : 20px;
      padding : 1.25rem;
    margin-bottom : 150px;
      margin-bottom : 9.375rem;
    background-color : #fff;
      background-color : var(--color-white);
  }
  
  
  
  
  
  
  
  /*-------------------------------#viewBox*/
  #viewBox {
    width : 100%; height : auto;
    min-height : 600px;
      min-height : 37.5rem;
    margin-top : 25px;
      margin-top : 1.5625rem;
    padding : 25px;
    box-sizing: border-box;
    background-color: #fff;
      background-color : var(--color-white);
  }
  
  .view_indicator {
    position : absolute;
    z-index: 100;
    bottom : 10px;  left : 0; right : 0;
    width : 150px;  height : 40px;
    margin : auto;
  }
  
  .view_indicator ul {
    width : 100%; height: 100%;
    padding : 10px; margin : auto;
    box-sizing: border-box;
  }
  
  .view_indicator li {
    float : left;
    width : 20px; height : 100%;
    margin-right : 10px;
    border-radius: 100px;
    transition: all 300ms ease;
  }
  
  .view_indicator li:last-child { margin-right : 0; }
  
  .view_indicator li.act {
    width : 40px;
  }
  
  .view_indicator li a {
    display: block;
    width : 100%; height : 100%;
  }

  
  #view_img {
    position: relative;
    width : 100%; height :65vw;
      box-sizing: border-box;
  }
  
  .view_img_area {
    width : 100%; height : 100%;
  }

  .view_img_area > li {
    float : left;
    width : 100%;  height : 100%;
    margin-bottom: 15px;
      margin-bottom : 0.9375rem;
  }
  
  
  .view_img_area > li:nth-child(1) {
    float : left;
    width : 100%; height : 100%;
  }
  
  
  .view_img_area > li:nth-child(2n) {
    margin-bottom: 0;
  }
  
  
  .view_img_area > li > div {
    width : 100%;
    height : 100%;
    transition : all 500ms ease;
    background-repeat: no-repeat;
    background-size : cover;
    background-position: 50% 50%;
  }
  
  
  .view_img_area > li:hover > div {
    transform: scale(1.03);
    box-shadow: 3px 3px 3px #BEC0D2;
      box-shadow: var(--box-shadow);
  }
  
  
  #view_info {
    width : 100%;
    height : auto;
  }
  
  
  #view_info > dl,
  #view_info > dl > dt {
    width : 100%;
    height : auto;
  }
  
  
  #view_info h2 {
    font-size : 32px;
      font-size : 2rem;
  }
  
  #view_info dd {
    padding-left : 20px;
      padding-left : 1.25rem;
    line-height: 2;
  }
}

