/* css/base/base/commonBox/z_commonBox_basic.css */




#wrap {
  width : 1280px;
    width : 80rem;
  height : auto;
  background-color : #f6f6f6;
    background-color : var(--color-bg-white);
  margin : auto;
}


h2 {
  padding-bottom : 20px;
    padding-bottom : 1.25rem;
  box-sizing: border-box;
}


#quickButton > h2,
#nav > h2 {
  padding : 0;
}




.contain {
  width : 100%; height : auto;
  min-height : 250px;
   min-height : 15.625rem;
  box-sizing: border-box;
  padding : 40px 100px 70px;
    padding : 2.5rem 6.25rem 4.375rem;
  margin-bottom : 250px;
    margin-bottom : 15.625rem;
  background-color : #fff;
    background-color : var(--color-white);
}




/*-------------------------------#viewBox*/
#viewBox {
  width : 100%; height : auto;
  min-height : 500px;
    min-height : 31.25rem;
  margin-top : 25px;
    margin-top : 1.5625rem;
  padding : 25px 100px;
    padding : 1.5625rem 6.25rem;
  box-sizing: border-box;
  background-color: #fff;
    background-color : var(--color-white);
}


.view_indicator li {
  background-color: #f6f6f6;
  background-color : var(--color-bg-white);
}

.view_indicator li.act {
  background-color: #ff3478;
  background-color : var(--color-pink);
}


#view_img {
  width : 100%; height : 450px; height: 35.15625vw;
  box-sizing: border-box;
  overflow: hidden;
}


.view_img_area {
  width : 100%; height : 100%;
}


.view_img_area > li {
  float : right;
  width : 29%;  height : 31%;
  margin-bottom: 15px;
    margin-bottom : 0.9375rem;
}


.view_img_area > li:nth-child(1) {
  float : left;
  width : 70%;  height : 100%;
}

.view_img_area > li > div {
  width : 100%;
  height : 100%;
  transition : all 500ms ease;
  background-repeat: no-repeat;
  background-size : cover;
  background-position: 50% 50%;
}


.view_img_area > li:hover > div {
  transform: scale(1.03);
  box-shadow: 3px 3px 3px #BEC0D2;
    box-shadow: var(--box-shadow);
}


#view_info {
  width : 100%;
  height : auto;
}


#view_info > dl,
#view_info > dl > dt {
  width : 100%;
  height : auto;
}


#view_info h2 {
  font-size : 32px;
    font-size : 2rem;
}

#view_info dd {
  padding-left : 20px;
    padding-left : 1.25rem;
  line-height: 2;
}