/* css/src/domestic_hotel/domestic_marriot/premier_twin/viewBox.css */



.view_img_area > li:nth-child(1) > div {
  background-image: url("../../../../../img/img/domestic_hotel/domestic_marriott/detail/premierTwin_01.jpg");
}

.view_img_area > li:nth-child(2) > div {
  background-image: url("../../../../../img/img/domestic_hotel/domestic_marriott/detail/premierTwin_02.jpg");
}

.view_img_area > li:nth-child(3) > div {
  background-image: url("../../../../../img/img/domestic_hotel/domestic_marriott/detail/premierTwin_03.jpg");
}

.view_img_area > li:nth-child(4) > div {
  background-image: url("../../../../../img/img/domestic_hotel/domestic_marriott/detail/premierTwin_04.jpg");
}


#view_info h2 > a {
  font-size : 20px;
    font-size : 1.25rem;
  color : #5A5C71;
    color : var(--color-gray);
}
