/* css/src/login/a_information_320.css */



@media screen and (min-width:320px) and (max-width:767px) {

  #sectionBox {
    padding-top: 50px; padding-bottom : 50px;
      /* padding-top : 6.25rem; padding-bottom : 6.25rem; */
  }
  
  
  .login_area {
    width : 90%;
    padding : 50px 20px;
      /* padding : 3.125rem 6.25rem; */
  }
  
  
  .login_area > h2 {
    margin-bottom : 20px;
      /* margin-bottom : 3.125rem; */
  }
  
  
  
  .login_area div {
    width : 90%;
    height : 50px;
      /* height : 3.75rem; */
    margin-bottom : 20px;
      /* margin-bottom : 2.5rem; */
  }
  
  
  .login_area input {
    font-size : 16px;
      /* font-size : 1.125rem; */
  }
  
  
  .log_in_btn > button {
    width : 70%; height : 80%;
    font-size : 16px;
      /* font-size : 1.125rem; */
  }
  

  .join {
    width : 60%;
  }

}