/* css/src/login/b_information_768.css */



@media screen and (min-width:768px) and (max-width:1279px) {
 
#sectionBox {
  padding : 50px 0px;
    /* padding-top : 6.25rem; padding-bottom : 6.25rem; */
}


.login_area {
  width : 90%;
  padding : 50px 20px;
    /* padding : 3.125rem 6.25rem; */
}


.login_area > h2 {
  margin-bottom : 30px;
    /* margin-bottom : 3.125rem; */
}


.login_area div {
  width : 90%;
  margin-bottom : 30px;
    /* margin-bottom : 2.5rem; */
}


.login_area input {
  font-size : 16px;
    /* font-size : 1.125rem; */
}


.log_in_btn > button {
  width : 80%; height : 90%;
  font-size : 16px;
}


}
